  {% load staticfiles %}
<!doctype html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="{% static 'registro/reg.css' %}">
  <title>Formulario de horas extras</title>
  <nav>
    <ul>
      <a title="" href="http://127.0.0.1:8000/menu/"><img width="100" height="100" src=https://scontent.fasu1-1.fna.fbcdn.net/v/t1.0-9/12227223_1390388247929201_4422764421024477119_n.jpg?_nc_cat=109&_nc_ht=scontent.fasu1-1.fna&oh=de28224200b9c8f4cc1575ff96f97dda&oe=5CADA1E1 alt="MVA" /></a>
        <form class="logout-link" action="http://127.0.0.1:8000/login/logout/" method="post">
          {% csrf_token %}
          <button type="submit">logout</button>
        </form>
    </ul>
  </nav>
  <script type="text/javascript">
  function buscar(){
    var opcion = document.getElementById('id_cedula').value;
    window.location.href = 'http://127.0.0.1:8000/registro/'+opcion;
  }
  </script>
</head>

<body>

  <form class="site-form" action="http://127.0.0.1:8000/registro/autocompletar/" method="post">
    {% csrf_token %}
    <center><div class="hola">
      {{ form }}
      <input type="submit" value="Cargar">
    </div></center>
  </form>

</body>
</html>
