body{
  margin:0;
  color:#6a6f8c;
  background: url('fondo.jpg') ;
  margin:0;
  color:#6a6f8c;
  font:1200 30px/18px 'Open Sans',sans-serif;
}

{color:inherit;text-decoration:none}

.site-form{
  margin-top:60px ;
  padding: 20px:

}

.site-form input, .site-form textarea, .site-form select{
  display:block;
  margin: 20px 0 0 0;
  padding: 10px;
}
.site-form label{
  font-size:40px;
  color:white;
}
button {
    line-height: 2;
    background-color: #000 ; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.logout-link{
  margin:40px;
  text-align:right;
}
h1{
  color:white;
  font-size:50px;
}
